body {
  font-family: sans-serif;
  text-align: center;
}
.container {
  position: relative;
  display: inline-block;
}
#sourceImage {
  max-width: 90%;
  margin-top: 20px;
}
#frame {
  position: absolute;
  width: 150px;
  height: 100px;
  border: 2px solid red;
  top: 50px;
  left: 50px;
  box-sizing: border-box;
  touch-action: none;
}
.resizer {
  width: 15px;
  height: 15px;
  background: red;
  position: absolute;
  right: 0;
  bottom: 0;
  touch-action: none;
}
.inputs input {
  margin: 10px;
  padding: 5px;
  font-size: 1em;
}


